<div class="todo-board-container">

  <app-todo-board-header (openCreateTodoDialog)="openCreateTodoDialog()"></app-todo-board-header>

  <div class="board">
    <div class="post-it" *ngFor="let todo of todos;" [ngClass]="todo.priority.toString().toLowerCase()">
      <app-todo-item (refreshTodos)="refreshTodos()" [title]="todo.title" [content]="todo.content"
        [priority]="todo.priority.toString()" [id]="todo.id" [lastEditDate]="todo.lastEditDate">
      </app-todo-item>
    </div>
  </div>
  <!--   
    <div class="board-footer">
      <span>🗑️ Drag here to delete</span>
    </div> -->
</div>