<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
    <mat-form-field class="todo-create-form-control">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    
    <mat-form-field class="todo-create-form-control">
        <mat-label>Content</mat-label>
        <textarea matInput formControlName="content"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select  matInput formControlName="priority" required>
          @for (priority of priorities; track priority.valueOf()) {
            <mat-option [value]="priority">{{priority.toString().toLowerCase()}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    
    <div class="button-container">
        <button mat-fab extended type="submit">
            <mat-icon>add</mat-icon>
            Add
        </button>
        
        <button (click)="closeDialog()" mat-fab extended>
            <mat-icon>cancel</mat-icon>
            Cancel
        </button>
    </div>
</form>    

  